html {
    background: rgba(0, 0, 0, 0) url("imgs/Dune_Concept_Art.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Saira', sans-serif;
    font-size: 1.5rem;
}

header {
    margin: 3rem 0 0 7rem;
    font-weight: 700;
}

h1 {
    margin: 0 0 3rem 0;
    font-size: 5rem;
}

section {
    display: block;
}

.questions {
    width: 40%;
    float: left;
    margin: -6rem 0 0 -1.5rem;
}

.answers {
    width: 95%;
    margin-left: 10%;
    font-size: 1.2rem;
}

.results {
    width: 45%;
    float: left;
    margin: 5rem 0 0 7rem;
    color: #000000;
    text-shadow: 0 0 10px #E8DBB7;
}

.correct {
    font-size: 1.65rem;
    color: #DC3D00;
    font-weight: 600;
    text-shadow: 1px 2px 2px #000000;
}

button {
    background-color: #40331B;
    border-color: #000000;
    border-radius: 25px;
    font-size: 1rem;
    padding: .2rem .2rem;
    width: 7rem;
    color: #F0DB83;
    display: block;
    margin: auto;
}

.retake {
    display: none;
}
